.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
    width: 50%;
}

.container img {
    max-width: 320px;
}

.date {
    color: #57B8FF;
    font-size: 16px;
    line-height: 16px;
    margin: 30px 0 20px 0;
}

.title {
    width: 85%;
    color: #FFF;
    font-size: 23px;
    line-height: 34px;
    text-transform: capitalize;
}
