header {
    width: 100vw;
    min-height: 62px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
}

.logoContainer img {
    width: max(100%, 170px);
}

.navigation {
    max-width: 715px;
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    display: inherit;
    justify-content: space-between;
    flex: 1;
}

.navigation p:hover {
    color: #FAC422;
    cursor: pointer;
}


.contactUs {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
.contactUs img {
    margin-right: 40px;
}


.contactUs p {
    width: 178px;
    height: 100%;
    border: 1px solid #fff;
    color: #FFF;
    font-size: 18px;
    line-height: 30px;
    display: inherit;
    justify-content: center;
    align-items: center;

}

.cart {
    height: 32px;
    width: 32px;
}
